@font-face {
  font-family: "AmaticSC-Bold";

  src: url('../fonts/AmaticSC-Bold.ttf');
}

@font-face {
  font-family: "Caveat";

  src: url('../fonts/Caveat-Regular.ttf');
}

h1{
  font-family: AmaticSC-Bold;
}

h2{
  font-family:AmaticSC-Bold;
}

.navbar{
  font-family: AmaticSC-Bold;
}
p{
  font-family: Caveat;
}