body{
  color: rgba(235, 228, 216, 1);
}
.global-photo {
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}

.description {
    position: absolute;
    top: 80%; /* Позиціонує блок по центру картинки */
    left: 50%;
    transform: translate(-50%, -50%); /* Центрує блок горизонтально і вертикально */
    background-color: rgba(33, 21, 5, 0.3); /* Напівпрозорий фон */
    color: rgba(235, 228, 216, 1);
    padding: 20px;
    width: 100%; /* Можна налаштувати ширину під потрібний розмір */
    font-size: 1.5rem;
    text-align: center; /* Вирівнювання тексту по центру */
    z-index: 10; /* Відображає блок над зображенням */
}

.photo-container {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;
}

.about-us-container {
    display: flex;
    align-items: center; /* Вирівнює зображення і текст по вертикалі */
    gap: 20px; /* Відступ між зображенням і текстом */
    padding: 20px;
}

.alina_1 {
    width: 50%; /* Збільшує розмір зображення до половини ширини контейнера */
    height: auto; /* Зберігає пропорції зображення */
}

.text_about_brand {
    flex: 1; /* Займає залишковий простір поруч із зображенням */
    color: rgba(235, 228, 216, 1); /* Колір тексту */
}

.text_about_brand h1 {
    font-size: 1.5rem; /* Розмір заголовка */
    margin-bottom: 10px;
}

.text_about_brand p {
    font-size: 0.5rem; /* Розмір тексту */
    line-height: 1.5; /* Інтерліньяж для кращої читабельності */
}
.ornament{
    height: auto;
    width: 100%;
}
.alina-2{
  height: auto;
    width: 100%;
}




.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 1200px;
  margin: 0 auto;
}



.block-text-left, .block-text-right {
  color: rgba(235, 228, 216, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.block-text-left{
  border-radius: 2% 0% 0% 0%;
}


.block-text-left h2, .block-text-right h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.block-text-left p, .block-text-right p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}

.block-logo {
  background-image:  url(../img/logo.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.block-mango {
  background-image:  url(../img/mango.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

 
}

.block-image {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  position: relative;
  border-radius: 0% 2% 2% 0%;
}

.block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0% 2% 2% 0%;
}
.ornament-3 {
   margin-top: 20px; /* Відступ зверху */
   margin-bottom: 20px; /* Відступ знизу */
}

.contact-container {
    display: flex;
    align-items: flex-start; 
    gap: 30px;
    padding: 40px 20px;
    color: rgba(235, 228, 216, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     align-items: center; 
}


.map {
    width: 54%;
    max-width: 1250px;
    height: auto;
}

.text_contact {
    flex: 1;
}

.text_contact h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.text_contact_row {
    display: flex;
    gap: 1px; /* зменшення відступу між блоками */

}

.text_contact-1, .social-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Маленький відступ між заголовком і текстом всередині блоків */
}
.text_contact-1 {
    margin-right: 5px; /* або інше значення, яке вам підходить */
}


.text_contact h2, .social-links h2 {
    font-size: 2rem;
    margin: 0;
}

.text_contact p, .social-links p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
}

.social-links a {
    color: rgba(246, 234, 201, 1);
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}




@media (min-width: 769px) {
    .description {
        font-size: 3rem; /* Адаптивний розмір шрифту на великих екранах */
        max-width: 100%; /* Можна контролювати ширину на великих екранах */
    }
    .text_about_brand h1 {
    font-size: 3rem; /* Розмір заголовка */
}
    .text_about_brand p {
    font-size: 1.5rem; /* Розмір тексту */
}
   .ornament-3 {
      margin-top: 10px;
      margin-bottom: 10px;
}
.block-image {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  position: relative;
  
}
}

@media (max-width: 576px) {

   .ornament-3 {
      margin-top: 7px;
      margin-bottom: 7px;
   }


  .block-text-left h2, .block-text-right h2 {
    font-size: 0.8rem;
  }

  .block-text-left p, .block-text-right p {
    font-size: 0.4rem;
  }


 .block-image {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    position: relative;
   
}

}


/* Адаптація для мобільних пристроїв (екрани до 576px) */
@media (max-width: 769px) {
    .contact-container {
        padding: 15px 5px; /* Зменшення загального відступу */
    }

    .block-image {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    position: relative;
}

    .map {
        width: 50%;
        height: auto;
    }

    .text_contact h1 {
        font-size: 1.8rem;
        margin-bottom: 8px;
    }

    .text_contact_row {
        flex-direction: column;
        gap: 3px;
    }

    .text_contact-1, .social-links {
        gap: 2px;
    }

    .text_contact h2, .social-links h2 {
        font-size: 1.4rem;
    }

    .text_contact p, .social-links p {
        font-size: 0.9rem;
        line-height: 1.4;
    }
    
    .social-links {
        margin-left: 0; /* Прибирає негативний відступ для маленьких екранів */
    }
}


@media (min-width: 769px) {
   contact-container {
        padding: 15px 5px; /* Зменшення загального відступу */
    }

    .map {
        width: 50%;
        height: auto;
    }

    .text_contact h1 {
        font-size: 3rem;
        margin-bottom: 8px;
    }

    .text_contact_row {
        flex-direction: column;
        gap: 3px;
    }

    .text_contact-1, .social-links {
        gap: 2px;
    }

    .text_contact h2, .social-links h2 {
        font-size: 1.7rem;
    }

    .text_contact p, .social-links p {
        font-size: 1.3rem;
        line-height: 1.4;
    }
    
    .social-links {
        margin-left: 0; /* Прибирає негативний відступ для маленьких екранів */
    }

}

@media (min-width: 1000px) {
     contact-container {
        padding: 50px 30px; /* Зменшення загального відступу */
    }

    .map {
        width: 50%;
        height: auto;
    }

    .text_contact h1 {
        font-size: 4rem;
        margin-bottom: 8px;
    }

    .text_contact_row {
        flex-direction: column;
        gap: 3px;
    }

    .text_contact-1, .social-links {
        gap: 2px;
    }

    .text_contact h2, .social-links h2 {
        font-size: 2.5rem;
    }

    .text_contact p, .social-links p {
        font-size: 2rem;
        line-height: 1.5;
    }
    
    .social-links {
        margin-left: 0; /* Прибирає негативний відступ для маленьких екранів */
    }

}