.owl-carousel .owl-theme {
    background: rgba(226, 214, 214, 0.8);
    padding: 1rem;
}

body {
    color: rgba(235, 228, 216, 1);
}

.global-photo {
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}

.ornament {
    height: auto;
    width: 100%;
}

.txt {
    text-align: center;
}

.photo {
    height: 550px;
    width: auto;
}

.line {
    width: 100%;
    height: 2.5%;
}

.about-sirena-container, .block-under-photo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.alina-video {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.more-container {
    flex: 1;
}


@media (min-width: 576px) and (max-width: 799px) {
    .owl-carousel .photo {
        height: 275px;
        width: auto;
    }

    .alina-video {
        height: 350px;
        width: auto;
    }

    .text_about_sirena h1, .text_about_heaven h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .text_about_sirena p, .text_about_heaven p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .more-container h2, .description-container h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .owl-carousel .photo {
        height: 400px;
        width: auto;
    }

    .alina-video {
        height: 700px;
        width: auto;
    }

    .text_about_sirena h1, .text_about_heaven h1 {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .text_about_sirena p, .text_about_heaven p {
        font-size: 1.5rem;
        line-height: 1.8;
    }

    .more-container h2, .description-container h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .owl-carousel .photo {
        height: 450px;
        width: auto;
    }}
    @media (min-width: 1301px){
    . .owl-carousel .photo {
        height: 550px;
        width: auto;
    }}

@media (min-width: 1000px) {


    .alina-video {
        height: 700px;
        width: auto;
    }

    .text_about_sirena h1, .text_about_heaven h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .text_about_sirena p, .text_about_heaven p {
        font-size: 1.5rem;
        line-height: 2;
    }

    .more-container h2, .description-container h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 400px)
{
    .photo {
        height: 180px;
        width: auto;
    }
}

@media ((min-width: 401px) and (max-width: 575px))
{
    .photo {
        height: 230px;
        width: auto;
    }
}


@media (max-width: 575px) {
    


    .alina-video {
        height: 350px;
        width: auto;
    }

    .text_about_sirena h1, .text_about_heaven h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .text_about_sirena p, .text_about_heaven p {
        font-size: 0.7rem;
        line-height: 1.5;
    }

    .more-container h2, .description-container h2 {
        font-size: 0.7rem;
    }
}




  .modal {
            display: none; /* приховуємо вікно за замовчуванням */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8); /* напівпрозорий фон */
            overflow: auto;
        }
        
        .modal-content {
            position: relative;
            margin: 5% auto;
            padding: 20px;
            width: 80%;
            max-width: 576px;
            background-color: rgba(33, 21, 5, 0);
            border-radius: 8px;
        }
        .modal-content h2 {
            color: rgba(235, 228, 216, 1);
            font-size: 3 rem;

    }
    .modal-content p {
            color: rgba(235, 228, 216, 1);
            font-size: 1.5 rem;

    }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            color: rgba(235, 228, 216, 1);
        }

        .video-blur-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .arina-video, .sirena-photo {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        /* Стилі для кнопки "Дізнатися більше" */
        .open-modal-text h2 {
            cursor: pointer;
            color: rgba(235, 228, 216, 1);
            text-decoration: underline;
        }

/* Стиль для модального вікна зображення */
.image-modal {
    display: none; /* Сховане за замовчуванням */
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Чорний фон із прозорістю */
}

/* Стиль для зображення всередині модального вікна */
.modal-image-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
}

/* Стиль для кнопки закриття модального вікна */
.close-image-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
